# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.synctex.gz
*.nav
*.snm
*.vrb
*.lof
*.lot
*.lof
*.idx
*.ilg
*.ind

# Minted 
_minted* 

# Temporary or backup files
*~
*.backup
*.bak